@charset "utf-8";
@import "../Variables.scss";

.section-contributors {
        h1 {
        user-select: none;
    }
  @include desktop {
    .name {
      display: inline-block;
      min-width: 140px;
    }
  }
}
