@charset "utf-8";
@import "../Variables.scss";

.section-protocol-configuration {
  ul {
        margin-left: 0;
        margin-top: 0;
  }
  li {
    padding-bottom: 20px;
    list-style-type: none;
  }

  .remark {
    margin-bottom: 20px;
  }

  .name {
    font-size: 0.8em;
    font-weight: 700;
  }

  .tag {
    background-color: $grey;
    color: $white;
    font-weight: 700;
    margin-left: 20px;
  }
  .meaning {
    text-align: justify;
    padding: 4px 26px;
  }
}
