@charset "utf-8";

@import "../Variables.scss";

.section-hack-stories {

    background-color: $black-ter;
    color: $grey-lighter !important;

    h2 {
        color: $grey-lighter !important;
        font-size: $body-size !important;
        font-weight: 400 !important;
        text-decoration: underline;
        text-underline-position: under;
    }

    .title {
        padding: 20px;
    }

    a {
        text-decoration: underline;
        text-underline-position: under;
    }


    .content {
        // border-left: solid 1px white;
        // padding-left: 20px;
        margin-top: 40px;
    }

}