@charset "utf-8";
@import "../Variables.scss";

.section-overview {
    h2 {
        font-size: $body-size !important;
        font-weight: 400 !important;
        text-decoration: underline;
        text-underline-position: under;
        color: $body-color;
        padding-bottom: $body-size !important;
    }

    a {
        text-decoration: underline;
        text-underline-position: under;
    }

    a:hover {
        background-image: url("https://ethereum.org/assets/img/highlight.22a66491.svg") !important;
        background-repeat: no-repeat;
    }

    .content {
        text-align: justify;

    }


    img {
        user-select: none;
    }
}