@charset "utf-8";

@import "../Variables.scss";

.section-hack-stories {

    &.active {
        background-color: red!important;
        color: $white!important;
    }

    h2 {
        font-size: $body-size !important;
        font-weight: 400 !important;
        text-decoration: underline;
        text-underline-position: under;
    }

    .stories {
        // padding-top: 80px;÷
    }

    .total-figure {
        margin-top: 40px;
        font-weitht: 700;
    }

    .total-figure-label {
        color: $grey;
    }

    a {
        text-decoration: underline;
        // text-underline-position: under;
    }
}