@charset "utf-8";
@import "../Variables.scss";


.protocol-section-1 {

    .obsoleted {
        text-decoration: line-through;
        // color: $grey;

    }

    .symboled {
        font-size: 20px;
        font-weight: 700;
    }

    .tag {
        // padding:1rem;
        margin-right: 0.25rem;
        margin-left: 0.25rem;
        margin-bottom: 0.5rem;
        background-color: $black;
        color: $white;

        &.highlight {
            background-color: $blue;
        }

        &.obsoleted {
            text-decoration: line-through;
            background-color: $grey-lighter;
            color: $grey-darker;
        }
    }
}