@charset "utf-8";

@import "../Variables.scss";

.setup-participant {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(255,255,255, 0.8);
  margin-top: 4px !important;
  font-size: 0.9rem;
  font-weight: 700;

  &.gitcoin {
    // color: yellow!important;
     background-color: #3fafff;
  }

  &.done {
    background-color: $black;
    color: #3fafff;
    .icon {
      color: rgba(0, 255, 0, 0.8);
    }
  }

  &.running {
    color: $primary;
    background-color: $white;

    .icon {
      color: $primary;
    }
  }

  .hash {
    font-family: monospace;
    overflow: hidden;
  }
}
