@charset "utf-8";

@import "../../_variables.sass";

.page-staking-claim {
  * {
    user-select: none;
  }

  img.staking {
    width: 620px;
    max-width: 80vw;
  }

  .items {
    max-width: 700px;
    margin: auto;
    text-align: left;
    font-size: 14px;
    padding: 24px;
    margin-top: 24px;
    background: rgba(241, 242, 245, 0.314);
    border-radius: 8px;

    .item {
      padding-top: 4px;
    }

    a:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}
