@charset "utf-8";
@import "../Variables.scss";

.section-features {
    background: #e9eeff;
    .content {
        padding: 20px;
        transition-duration: 0.5s;
        background-color: white;
        color: $primary;

        @include desktop {
            min-height: 400px;
        }

        background: rgba(255, 255, 255, 0.3) !important;
        box-shadow: 8px 19px 28px 0px rgba(204, 204, 225, 0.09);
        &:hover {
            box-shadow: 8px 19px 28px 10px rgba(204, 204, 225, 0.3);
        }
    }

    h1.sectionTitle {
        padding-top: 40px;
        font-size: 64px !important;
    }
    h2.sectionTitle {
        font-size: 52px !important;
        font-weight: 300;
        text-transform: none;
    }
    h3.sectionTitle {
        font-weight: 300;
        max-width: 750px;
        margin: auto;
        font-size: 20px !important;
        padding-top: 0px;
        padding-bottom: 40px;
    }

    h1.feature {
        font-size: 32px !important;
    }

    .subtitle {
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: $body-size;
        margin: auto;
        max-width: 680px;
        line-height: 2;
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 10px;
        border: 1px solid $primary;

        >div {
            margin: 10px;
        }
    }

    .explain {
        margin: auto;
        color: #222222;
        font-size: 20px;
        font-weight: 300;
    }

    .image {
        margin: 10px;
        img {
            display: inline-block;
        }
    }

    a.learn-more {
        user-select: none;
        background-color: $black;
        display: inline-block;
        padding: 15px 40px;
        transition-duration: 0.5s;
        color: $white;
        margin-top: 100px;
        min-width: 300px;
        border-radius: 4px;

        &:after {
            transition-duration: 0.5s;
            content: "⟶";
            opacity: 0;
            padding-left: 0px;
            color: $black;
        }

        &:hover {
            text-decoration: none;
            color: $white;
            background-color: $black;

            &:after {
                opacity: 1;
                padding-left: 10px;
                color: $white;
            }
        }
    }
}