@charset 'utf-8';
@import "../../_variables.sass";

.withdrawal-section-en {
  .graidient-text {
    background: rgb(28, 66, 255);
    background: linear-gradient(90deg, #1c42ff 0%, #ff66ed 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  b {
    color: #ff66ed;
  }
  .link {
    color: #65ffda;
    text-decoration: underline;
    &:hover {
      color: #65ffda;
    }
  }

  .title {
    font-size: 5rem;
  }

  @media (max-width: $desktop) {
    .title {
      font-size: 4rem;
    }
  }

  @media (max-width: $tablet) {
    .title {
      font-size: 3rem;
    }
    .slogan span {
      display: block;
    }
  }
}
