@charset "utf-8";
@import "../Variables.scss";

$height-mask: 800px;

// To regulate alpha is recommended to use gray scale.
// Recomiendo utilizar escala de grises

$darken: 0%;

$color: rgb(255, 255, 255);
$color-alpha: darken($color, $darken);

// Apply color here!
// Todo el color que quieras!
$color-base: rgb(255, 255, 255);

.section-about-hero {
  position: relative;
  min-height: 74vh;

  .backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    background-size: 100%;
    z-index: -2;
    background-color: black;
    background-size: fill;
    background-image: url(/images/herobg.jpeg);
  }

  .text {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 10;
    overflow: hidden;
  }

  .subtitle {
    padding: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 500;
    top: 45%;
    z-index: 110;
    font-weight: 500;
    font-size: 1.5em;

    @include mobile {
      font-size: 1.25em;
    }
  }

  svg {
    position: relative;
    width: 100%;
    height: $height-mask;

    text {
      padding: 120px;
      text-anchor: middle;
    }

    #alpha {
      fill: $color-alpha;
    }

    #title {
      font-size: 6em;
      font-weight: 700;
      text-transform: uppercase;
      font-family: $theme-font;

      &.chinese {
        font-family: "Helvetica";
      }

      @include mobile {
        font-size: 5em;
      }
    }

    #base {
      fill: $color-base;
      mask: url(#mask);
    }
  }
}
