@charset "utf-8";

@import "../Variables.scss";

.section-about-media {
  background-color: $white;

  img {
    user-select: none;
    filter: grayscale(100%);
    width: 120px !important;
    margin: 10px;
  }
}
