@charset "utf-8";

@import "../Variables.scss";

.section-opensource {

    .links {
        border-left: solid 2px $grey-darker;
        padding: 20px;
        margin-left: -20px;
        position: relative;

        .symboled {
            font-size: 20px;
            font-weight: 700;
        }
    }

    a:hover {
        background-image: url("https://ethereum.org/assets/img/highlight.22a66491.svg") !important;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .fixed-label {
        transform: rotate(-90deg);
        transform-origin: top right;
        position: absolute;
        // min-width: 10rem;
        right: 3rem;
        // margin-left:-100px;
        color: $white;
        background-color: $black;
        padding: 0.5rem 2rem;
        display: inline-block;
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 700;

    }
}