@charset "utf-8";

@import "../Variables.scss";

.section-lrc-hero {
  .hero {
    // letter-spacing: -3px;
    font-size: 4.5em;
    font-weight: 700;

    .symbol {
      color: $primary;
    }

    .smaller {
      font-size: 0.7em;
    }
  }
}
