@charset "utf-8";

@import "../Variables.scss";

.section-lrc-hero {
  .hero {
    // letter-spacing: -3px;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;

    @include mobile {
      margin-top: 60px;
      font-size: 3.2em;
    }

    .symbol {
      color: $primary;
    }

    .smaller {
      font-size: 1.8rem !important;
    }
  }
}
