@charset "utf-8";

@import "../Variables.scss";

.section-lrc-hero {
  .hero {
    // letter-spacing: -3px;
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;

    @include mobile {
      margin-top: 60px;
      font-size: 3.2em;
    }

    .symbol {
      color: $primary;
    }

    .smaller {
      font-size: 1.8rem !important;
    }
  }

    a.stake-now {

    user-select: none;
    background-color: $black;
    display: inline-block;
    padding: 15px 40px;
    transition-duration: 0.5s;
    color: $white;
    margin-top: 40px;
    min-width: 300px;
    border-radius: 4px;

    &:after {
      transition-duration: 0.5s;
      content: "→";
      opacity: 0;
      padding-left: 0px;
      color: $black;
    }

    &:hover {
      text-decoration: none;
      color: $white;
      background-color: $black;

      &:after {
        opacity: 1;
        padding-left: 10px;
        color: $white;
      }
    }
  }
}
