@charset "utf-8";

@import "../Variables.scss";

.section-lrc-icon {
  .lrc-logo {
    img {
      width: 100px;
      height: 100px;
      display: inline-block;
      margin-bottom: -100px;
    }
  }
}
