@charset 'utf-8';
@import "../../_variables.sass";

.feature-section {
  .download-link {
    margin-top: 40px;
    display: block;
    &:hover {
      color: $primary;
      text-decoration: underline;
    }

    &:before {
      content: "⟶";
      display: inline-block;
      white-space: pre-wrap;
      margin-right: 4px;
      color: $primary;
    }
  }
}
