@charset 'utf-8';
@import "../../_variables.sass";

.withdrawal-section {
  background-image: url("%PUBLIC_URL%/images/wmining_bg.png");
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right center;

  .graidient-text {
    background: rgb(28, 66, 255);
    background: linear-gradient(90deg, #1c42ff 0%, #ff66ed 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a {
    color: #65ffda;
    padding-top: 40px;
    display: block;

    &:before {
      content: "⟶";
      display: inline-block;
      white-space: pre-wrap;
      margin-right: 4px;
      color: #65ffda;
    }

    &:hover {
      color: #65ffda;
      text-decoration: underline;
    }
  }

  .title {
    font-size: 8rem;
  }

  @media (max-width: $desktop) {
    background-size: 300px;
    .title {
      font-size: 6rem;
    }
  }

  @media (max-width: $tablet) {
    background-size: 140px;
    .title {
      font-size: 3.5rem;
    }
    .slogan span {
      display: block;
    }
  }
}
