@charset "utf-8";

@import "../Variables.scss";

.section-hero-image {
  height: 67vh;
  min-height: 300px;
  margin: 0;
  padding: 0;
  background-image: url(https://images.unsplash.com/photo-1567095740613-beef70b7e61c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
  background-position: center center;
  background-size: cover;
}

.section-sub-nav {
  padding: 0 !important;

  li {
    display: inline-block;
  }

  a.navbar-item {

    // background-color: $grey-lighter;
    color: $grey;
    display: inline-block;
    user-select: none;
    padding-left: 3px;
    padding-right: 3px;
    transition-duration: 0.5s;
    font-weight: 500;
    text-decoration:none;
    box-shadow: inset 0 -2px $grey-lighter;
    margin-left: 5px;
    margin-right: 5px;

    &:hover,&.active {

      color: $black;
      box-shadow: inset 0 -2px $black;
    }
  }
}
