@charset "utf-8";
@import "../Variables.scss";

$height-mask: 800px;

// To regulate alpha is recommended to use gray scale.
// Recomiendo utilizar escala de grises

$darken: 0%;

$color: rgb(255, 255, 255);
$color-alpha: darken($color, $darken);

// Apply color here!
// Todo el color que quieras!
$color-base: rgb(255, 255, 255);

.section-about-hero {
  position: relative;
  min-height: 74vh;

  .backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: 100%;
    z-index: -2;
    background-color: $black;
    background-size: fill;
    background-image: url(/images/herobg.jpeg);
  }

  .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 10;
    overflow: hidden;
  }

  svg {
    position: relative!important;
    width: 100%!important;
    height: $height-mask!important;

    text {
      padding: 120px!important;
      text-anchor: middle!important;
    }

    #alpha {
      fill: $color-alpha!important;
    }

    #title {
      font-size: 6em;
      font-weight: 700;
      text-transform: uppercase;
    }

    #subtitle {
      // letter-spacing: 3px;
      // font-size: 1em;
      font-weight: 500;
      font-size: 1.5em;
    }

    #base {
      fill: $color-base;
      mask: url(#mask);
    }
  }
}
