@import "../Variables.scss";

.navbar.navbar-dark {
  margin-bottom: 0;
  background: $dark-blue !important;
  * {
    user-select: none;
  }

  a {
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 20px !important;
    color: $white !important;
    // display: inline-block;
  }

  @include mobile {
    a {
      font-size: 20px !important;
      height: 100px;
    }

    .navbar-end {
      padding-top: 50px;
    }
  }
  a.hover {
    text-decoration: none !important;
    color: $white !important;
  }

  .pageLink {
    box-shadow: inset 0 -2px transparent;
    transition-duration: 0.5s;
  }

  .pageLink:hover {
    box-shadow: inset 0 -2px $white;
    color: $white !important;
  }

  a.navbar-item.active > div.pageLink {
    box-shadow: inset 0 -2px $white;
  }

  .navbar-menu {
    background: $dark-blue !important;
  }

  .navbar-menu.is-active {
    height: 100vh;
    text-align: center;
    width: 100%;

    .pageLink {
      // padding-top: 40px;
      width: 100px;
      margin: auto;
      border: solid 1px transparent;
    }
  }

  img.logo {
    height: 28px;
    padding-right: 10px;
    opacity: 0.96 !important;
    margin-top: -5px;
  }
}
