@import "../Variables.scss";

.navbar {
  * {
    user-select: none;
  }

  a {text-decoration:none!important;
    text-transform: uppercase;
    font-size: 20px !important;
    display: inline-block;
  }
  a.hover {
text-decoration:none!important;
  }

  .pageLink {
    box-shadow: inset 0 -2px transparent;
    transition-duration: .5s;
  }

  .pageLink:hover {
        box-shadow: inset 0 -2px $black;
  }

  .pageLink:active {
    // text-underline-position: under;
  }

  .navbar-start > .navbar-item:first-child {
    padding-left: 0 !important;
  }

  img.logo {
    height: 28px;
    padding-right: 10px;
    opacity: 0.96 !important;
    margin-top: -5px;
  }
}
