@charset "utf-8";

@import "../Variables.scss";

.section-hack-stories {

  .total-figure {
    margin-top: 40px;
    font-weitht: 700;
  }

  .total-figure-label {
    color: $grey;
  }

  a {
    text-decoration: underline;
    // text-underline-position: under;
  }
}
