@charset "utf-8";
@import "../Variables.scss";

.section-throughput {

    table {
        display: inline-block;
        background-color: transparent;
        color: $black;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid $grey-darker;

    }

    td {
        // border: none;
 font-size: $body-size!important;
    }

    tbody  td {
        text-align: right;
    }

    th {
        border: 0;
        font-weight: 500;
        border-top: none;
        border-bottom: 1px solid $grey-darker;
    }

    .first {
       text-align: left;
    }

    .footnote {
    }

    .bordered {
      border: 1px dashed  $grey;
      margin: 10px;
    }

.h{
    background-image: url("https://ethereum.org/assets/img/highlight.22a66491.svg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

}