@charset "utf-8";

@import "../Variables.scss";

.section-hack-stories {
  &.active {
    background-color: red !important;
    color: $white !important;
  }

  .stories {
    // padding-top: 80px;÷
  }

  .total-figure {
    margin-top: 40px;
    font-weitht: 700;
  }

  .total-figure-label {
    color: $grey;
  }

  a {
    text-decoration: underline;
    // text-underline-position: under;
  }
}
