@charset "utf-8";
@import "../Variables.scss";



.section-project-hero {
    position: relative;

    .backdrop {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-size: 100%;
        z-index: -2;
        background-image: url(https://images.unsplash.com/photo-1507878866276-a947ef722fee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80);
    }
}