@charset "utf-8";

@import "../Variables.scss";

.section-article-heading {
  .datetime {
    color: $grey;
    padding-right: 20px;
  }
}

.tag {
  margin-right: 10px;
}
.section-article-hero {
  padding: 0 !important;
  margin: 0 !important;
}
