@charset "utf-8";

@import "../Variables.scss";

.section-article-heading {
  .datetime {
    color: $grey;
    padding-right: 20px;
  }
}

.tag {
  margin-right: 10px;
}
.section-article-hero {
  padding: 0 !important;
  margin: 0 !important;
}

.section-article-body {
  min-height: 100vh;
  h1 {
    padding-top: 60px !important;
    padding-bottom: 10px !important;
    // margin-left: -32px;
  }

  // h1::before {
  //     width: 32px;
  //     display: inline-block;
  //     content: "△";
  // }

  h2 {
    padding-top: 20px !important;
    padding-bottom: 10px !important;
  }

  h3 {
    padding-bottom: 0px !important;
  }

  p {
    text-align: justify;
  }

  code {
    color: $primary;
    background-color: $very-light-background;
    font-family: "Roboto Mono", monospace;
    font-size: 0.8rem;
  }
}
