@charset "utf-8";

@import "./Variables.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.content {
    // min-height: 100vh;
    // max-width: 400px;
    padding: 0 10%;

    h1 {
        padding-top: 60px!important;
        padding-bottom: 10px!important;
    }

    h2 {
        padding-top: 20px!important;
        padding-bottom: 10px!important;
    }

    h3 {
        padding-bottom: 0px!important;
    }

    p {
        text-align: justify;
    }

    code {
        color: $primary;
        background-color:$very-light-background;
        font-family: 'Roboto Mono', monospace;
    }
}