@import "./Variables.scss";

.navbar {
  * {
    user-select: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-underline-position: under;
  }

  .navbar-start > .navbar-item:first-child {
    padding-left: 0 !important;
  }
}
