@charset "utf-8";

@import "./Variables.scss";

.section-lrc-hero {

    .hero {

        color: $grey-darker !important;
        letter-spacing: -3px;
        font-size: 4.5em;
        font-weight: 700;
        // font-stretch: ultra-condensed;
        font-family: 'Roboto Condensed', sans-serif;

        .symbol {
            color: $primary;
        }

        .smaller {
            font-size: 0.7em;
        }
    }
}


.section-lrc-icon  {

    .lrc-logo {
       img { width: 100px;
        height: 100px;
        display: inline-block;
        margin-bottom: -100px;
    }


}

.section-lrc-utilities {
    }
    h2 {
        color: $white!important;
    }
}