@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
// @import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

// Loopring theme colors
$black: #272727;
$blue: #1c60ff;
$light-blue: #1c71ff;
$purple: #8dafff;
$mint: #3fafff;
$grayish-blue: #67759a;
$white: #ffffff;

$primary: $blue;

// Body  & Global
$body-size: 14px;
$body-color: $black;
$body-background-color: $white-bis;
$family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link: $black;

$family-content: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Navbar
$navbar-item-color: $black;
$navbar-item-hover-color: $black;
$navbar-item-hover-background-color: transparent;

$very-light-background: #f5f6f7;
$image-overlay-background: $white;
$image-overlay-foreground: $black;

.has-background-blue {
  background-color: $very-light-background !important;
}

.has-background-grey {
    background-color: #fafafa!important;
}

.has-background-black {
    background-color: $black !important;
}