@charset 'utf-8';
@import "../../_variables.sass";

.howto-step {
  .one-step {
    display: flex;
    align-items: center;
    justify-content: center;

    figure {
      border-radius: 36px !important;
    }
  }
}
